<div>
    <header><h1>Users Connections</h1></header>
    <h2>Hello <strong>{{name}}</strong></h2>
    <p>Click on link to activate your account!</p>
    <p><a href=`https://user-connections-front-end.vercel.app/confirmation/{{code}}`>user-connections</a></p>
    <footer>all rights reserved hirokz7</footer>
</div>